// font
$base-font-size: 14px;
$base-font-weight: 400;
$base-line-height: 1.5;
$base-font-family: 'Plus Jakarta Sans', sans-serif;

// layout
$base-layout-padding: 20px;
$base-layout-margin: 20px;

// scrollbar
$base-scrollbar-width: 6px;

// color
$base-color-white: #fff;
$base-color-black: #000;
$base-color-primary-50: #fae6e6;
$base-color-primary-500: #c80000;
$base-color-primary-600: #b60000;
$base-color-primary-700: #8e0000;
$base-color-gray-100: #f2f4f7;
$base-color-gray-300: #d0d5dd;
$base-color-gray-400: #98a2b3;
$base-color-gray-600: #475467;
$base-color-gray-700: #344054;
$base-color-error-500: #f04438;
