// fonts
$base-font-size: 14px;
$base-font-family: 'Plus Jakarta Sans', sans-serif;
$base-font-weight: 400;

// layout
$base-layout-padding: 20px;
$base-layout-margin: 20px;

// scrollbar
$base-scrollbar-width: 6px;
