.default {
  &__sidebar {
    background-color: var(--v-background-container-color);
    margin: $base-layout-margin;
    height: calc(100vh - $base-layout-margin * 2);
    position: fixed;
    box-shadow: 0 2px 6px var(--v-box-shadow-color);
    border-radius: 18px;
  }

  &__main {
    margin-left: calc(var(--el-aside-width) + $base-layout-margin * 2);
    margin-top: $base-layout-margin;
    margin-right: $base-layout-margin;

    &-header {
      position: fixed;
      margin-bottom: $base-layout-margin;
      background-color: var(--v-background-container-color);
      box-shadow: 0 2px 6px var(--v-box-shadow-color);
      border-radius: 18px;
      width: calc(100vw - var(--el-aside-width) - $base-layout-margin * 3 - $base-scrollbar-width);
      z-index: 1000;
    }

    &-view {
      background-color: var(--v-background-container-color);
      box-shadow: 0 2px 6px var(--v-box-shadow-color);
      border-radius: 18px;
      margin-bottom: $base-layout-margin;
      margin-top: calc(var(--el-header-height) + $base-layout-margin);
    }
  }
}
