.default-layout {
  &__sidebar {
    background-color: var(--v-background-container-color);
    margin: $layout-margin;
    height: calc(100vh - $layout-margin * 2);
    position: fixed;
    box-shadow: 0 2px 6px var(--v-box-shadow-color);
    border-radius: 18px;
  }

  &__main {
    margin-left: calc(var(--el-aside-width) + $layout-margin * 2);
    margin-top: $layout-margin;
    margin-right: $layout-margin;

    &--header {
      position: fixed;
      margin-bottom: $layout-margin;
      background-color: var(--v-background-container-color);
      box-shadow: 0 2px 6px var(--v-box-shadow-color);
      border-radius: 18px;
      width: calc(100vw - var(--el-aside-width) - $layout-margin * 3 - $scrollbar-width);
      z-index: 1000;
    }

    &--view {
      min-height: calc(100vh - var(--el-header-height) - $layout-margin * 3);
      background-color: var(--v-background-container-color);
      box-shadow: 0 2px 6px var(--v-box-shadow-color);
      border-radius: 18px;
      margin-bottom: $layout-margin;
      margin-top: calc(var(--el-header-height) + $layout-margin);
    }
  }
}
