.sidebar-layout {
  height: calc(100% - 24px);

  .el-menu {
    height: calc(100% - 30px - $base-margin - (24px * 3));
    border-right: 0;
    background-color: var(--qh-background-container-color);
  }

  &__logo {
    width: var(--el-aside-width);
    height: 84px;
    margin: 16px 0;
    cursor: pointer;
    @include flexbox-style;
  }
}
