.the-default-sidebar {
  height: calc(100% - 24px);

  .el-menu {
    height: calc(100% - 30px - $base-layout-margin - (24px * 3));
    border-right: 0;
    background-color: var(--v-background-container-color);
  }

  &__logo {
    width: 24px;
    height: 24px;
    margin: 20px auto;
    cursor: pointer;
    @include flexbox-style;
  }
}
